
<!--<div id="audio-toolbar">
    <div ng-click='audio.paused ? audio.play() : audio.pause()' id="play-icon">
        <i class="fa flex" ng-class="{'fa-play-circle-o': audio.paused, 'fa-pause-circle-o': !audio.paused}"></i>
    </div>
</div>-->

<!--<div id="audio-slider" ng-if="!audio.paused">
    <md-slider type="range" step="0.01" class="flex" min="0" max="1" ng-model="audio.progress" class=""></md-slider>
</div>-->

<div class="container layout-row layout-fill layout-align-center-center flex">
    <div ng-include="'components/navbar/navbar.tpl.html'"></div>
    <div class="album-cover album-cover-frame"></div>
</div>